<nav class="flex flex-row gap-2">
  <%= link_to new_book_path do %>
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4  rounded-md transition-colors duration-200 cursor-pointer mb-6">
      List A Book
    </button>
  <% end %>

  <%= link_to users_path do %>
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6">
      Browse Libraries
    </button>
  <% end %>

  <% if authenticated? %>
    <%= button_to user_stripe_connection_path(Current.user), data: { turbo: false }, class: "bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6", method: :post do %>
      Create A Stripe Account to Start Selling Books
    <% end %>
  <% end %>

  <%= button_to "Log out", session_path, class: "bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6", method: :delete if authenticated? %>

  <% unless authenticated? %>
    <%= link_to new_session_path do %>
      <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6">
        Log In
      </buttoN>
    <% end %>
  <% end %>
</nav>